.cLandingPage {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#h_cLandingPage {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

#tit_Dogs, #btn_HomePage {
   font-weight: bold;
   font-size: larger;
}

#tit_thanks_to {
   font-size: smaller;
   padding-bottom: 1%;
}

#thanks_to {
   display: grid;
   grid-template-columns: 22% 32% 24% 30%;
}